mixin ageapp()
    section.section.ageapp 
        .ageapp__body.container 
            h2.ageapp__title Все тесты анонимны и обезличены.
            p.ageapp__desc Приложение не хранит тестируемые вами фотографии, хранит только те, что вы сами сохраните в приложении на время опроса.
            .ageapp__content 
                .ageapp__item
                    .ageapp__num 
                        span 1
                    p.ageapp__subtitle Искусственный интеллект для быстрого онлайн анализа.
                    p.ageapp__p Вам не нужно долго ждать результат.
                    .ageapp__img 
                        img(src="@img/tests-img-1.png", alt="" draggable="false" loading="lazy")
                .ageapp__item
                    .ageapp__img 
                        img(src="@img/tests-img-2.png", alt="" draggable="false" loading="lazy")
                    .ageapp__num 
                        span 2
                    p.ageapp__subtitle Подробная статистика
                    p.ageapp__p Программа оценить предполагаемый возрнаст и привлекательность на основе оценки других пользователей.
                .ageapp__item
                    .ageapp__num 
                        span 3
                    p.ageapp__subtitle Настраиваемые #[br] уведомления.
                    p.ageapp__p Получайте уведомления, чтобы быть в крусе своих оценок.
                    .ageapp__img 
                        img(src="@img/tests-img-3.png", alt="" draggable="false" loading="lazy")
                .ageapp__item
                    .ageapp__img 
                        img(src="@img/tests-img-4.png", alt="" draggable="false" loading="lazy")
                    .ageapp__num 
                        span 4
                    a(href="https://ageapp.net/downloads/age_detector_v1.2.2_x86.zip" itemscope itemtype="http://schema.org/SoftwareApplication").ageapp__subtitle 
                        meta(itemprop="name" content="age_detector_v1.2.2_x86.zip")
                        meta(itemprop="url" href="https://ageapp.net/downloads/age_detector_v1.2.2_x86.zip")
                        meta(itemprop="description" content="Приложение 'Детектор возраста' для персонального компьютера")
                        meta(itemprop="operatingSystem" content="WINDOWS") 
                        meta(itemprop="applicationCategory" content="ENTERTAINMENT")
                        meta(itemprop="image" content="https://ageapp.net/images/favicons/favicon-32x32.png")
                        meta(itemprop="contentRating" content="Everyone")
                        div(itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating")
                            meta(itemprop="ratingValue" content="4.8")
                            meta(itemprop="reviewCount" content="890")
                        div(itemprop="offers" itemscope="" itemtype="https://schema.org/Offer")
                            meta(itemprop="priceCurrency" content="USD")
                            meta(itemprop="price" content="0")
                            meta(itemprop="availability" content="http://schema.org/InStock")
                            p Скачать приложение для персонального компьютера.
                    p.ageapp__p Хотите попробовать приложение на ПК? Нет ничего проще. Просто скачайте!