mixin try()
    section.section.try 
        .try__body.container 
            .try__img 
                img(src="@img/try-img.png", alt="" draggable="false" loading="lazy")
            .try__content 
                h2.try__title Попробуй #[br.enable-md] прямо сейчас
                p.try__desc Скачай приложение и узнай, на сколько лет ты выглядишь?
                .try__links 
                    a(href="https://apps.apple.com/ru/app/%D0%BC%D0%BE%D0%B9-%D0%B2%D0%BE%D0%B7%D1%80%D0%B0%D1%81%D1%82/id1483210140" target="_blank" rel="noreferrer").try__link
                        img(src="@img/intro-appstore.svg", alt="" draggable="false" loading="lazy") 
                    a(href="https://play.google.com/store/apps/details?id=net.ageapp.application" target="_blank" rel="noreferrer").try__link 
                        img(src="@img/intro-googleplay.svg", alt="" draggable="false" loading="lazy") 
                button(type="button").try__btn Скачать apk для android, huawei
                .try__abs.enable-lg 
                    p.try__p Вход в приложение - с помощью #[b любого] электронного адреса e-mail
            .try__abs.disable-lg 
                p.try__p Вход в приложение - с помощью #[b любого] электронного адреса e-mail